body {
	line-height: 0;
}

.min-w-50p {
	min-width: 50%;
}

.wsms {
	background: #344B9A;
	color: #fff;
	padding: 0;
}

.wsms-tep {
	background: #55B74E;
	color: #fff;
	padding: 0;
}

.wsms .image-side,
.wsms-tep .image-side {
	position: relative;
}

.wsms .btn, .wsms .btn:active {
	background-color: #55B74E;
	color: #fff;
}

.wsms-tep .btn, .wsms-tep .btn:active {
	background-color: #344B9A;
	color: #fff;
}

.wsms .btn ,
.wsms-tep .btn {
	text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 0;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 16px;
	position: relative;
	z-index: 9999;
}

.text-side {
	height: 300px;
	padding: 20px 40px 10px 40px;
}

.image-side .triangle {
	width: 100%;
}

.image-side .img {
	width: 100%;
	display: block;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.image-side .img.img-left {
	background-image: url('../images/left.jpg');
	background-position: 0 10px;
}

.image-side .img.img-right {
	background-image: url('../images/right.jpg');
	background-position: bottom;
}

.triangle {
	position: relative;
	overflow: hidden;
	padding: 0;
	margin: 0;
	display: inline-block;
}

.triangle.bottom:before,
.triangle.top:after {
   	content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
    display: block;
    height: 135px;
    transform: skewY(5deg);
}

.triangle.bottom:before {
    background: #344B9A;
    top: -20%;
}
.triangle.top:after {
    background: #55B74E;
    bottom: -20%;
}

/* Image */
.img-cursive {
	margin-left: 20px;
}

.group-btn {
	margin-top: 6%;
}
.group-btn-2rows {
	padding-bottom: 30px;
}
@media ( max-width: 320px ) {
	.wsms .image-side .img.img-left {
		background-position: -80px 18px;
	}
}
@media ( max-width: 480px ) {
	.wsms-tep {
		margin-top: 20px;
	}

	.wsms .btn, .wsms-tep .btn {
	    font-size: 14px;
	    padding: 8px 14px;
	}

	.text-side {
		height: 120px;
		padding: 30px;
	}

	.triangle.bottom::before, .triangle.top::after {
        height: 100px !important;
	}

	.image-side .img {
		height: 323px;
	}

	.wsms-tep .text-side {
	    margin-top: -20px;
	    height: 180px;
	}

	.wsms .img-cursive {
		width: 48%;
	}

	.img-logo {
		width: 80%;
	}

	.wsms-tep .img-cursive {
		width: 60%;
	}

	.wsms .btn, .wsms-tep .btn {
	    font-size: 13px;
	    padding: 8px 12px;
	}

	.group-btn .img-cursive {
	    margin-left: 10px;
	}
	.image-side .img.img-left {
		background-position: -40px 18px;
	}
}
// @media ( min-width: 410px ) and ( max-width: 420px ) {
// 	.wsms-tep .text-side {
// 	    height: 320px;
// 	}
// }
@media ( min-width: 481px ) and ( max-width: 767px ) {
	.wsms-tep {
		margin-top: 20px;
	}

	.wsms .btn, .wsms-tep .btn {
	    font-size: 14px;
	    padding: 8px 14px;
	}

	.text-side {
		height: 180px;
	    padding: 40px 0 40px 30px;
	}

	.triangle.bottom::before, .triangle.top::after {
	    height: 120px !important;
	}

	.image-side .img {
		height: 324px;
	}

	.wsms-tep .text-side {
	    margin-top: -20px;
	    height: 250px;
	}

	.wsms .img-cursive {
		width: 40%;
	}

	.img-logo {
		width: 60%;
	}

	.text-side {
		padding: 40px;
	}

	.wsms-tep .img-cursive {
		width: 60%;
	}

	.wsms .btn ,
	.wsms-tep .btn {
	    font-size: 16px;
	    padding: 8px 12px;
	}

	.group-btn .img-cursive {
	    margin-left: 10px;
	}
}

@media ( min-width: 768px ) {
	.wsms {
	    border-right: 10px solid #fff;
	}

	.wsms-tep {
		border-left: 10px solid #fff;
	}

	.wsms-tep .img-cursive {
		margin-top: 0;
	}
}

@media ( min-width: 768px ) and ( max-width: 991px ) {
	.wsms .img-cursive {
		width: 56%;
	}

	.img-logo {
		width: 80%;
	}

	.text-side {
		padding: 40px;
	}

	.wsms .text-side {
		padding-top: 80px;
	}

	.wsms-tep .text-side {
		padding-top: 0;
	}

	.wsms-tep .img-cursive {
		width: 60%;
	}
	.wsms .btn ,
	.wsms-tep .btn {
	    font-size: 16px;
	    padding: 8px 12px;
	}
	.group-btn .img-cursive {
	    margin-left: 10px;
	}
}

@media ( min-width: 992px ) and ( max-width: 1199px ) {
	.wsms .img-cursive {
		width: 56%;
	}

	.img-logo {
		width: 100%;
	}

	.text-side {
		padding: 80px;
	}

	.wsms-tep .text-side {
		padding-top: 0;
	}

	.wsms-tep .img-cursive {
		width: 60%;
	}
}

@media ( min-width: 1200px ) and ( max-width: 1365px ) {
	.wsms .img-cursive {
		width: 48%;
	}

	.img-logo {
		width: 90%;
	}

	.text-side {
		padding: 84px;
	}

	.wsms-tep .text-side {
		padding-top: 0;
	}

	.wsms-tep .img-cursive {
		width: 60%;
	}

	.image-side .img.img-left {
	    background-position: 0 40px;
	}
}

@media ( min-width: 1366px ) {
	.wsms .img-cursive {
		width: 45%;
	}

	.image-side .img.img-left {
	    background-position: 0 40px;
	}

	.img-logo {
		width: 74%;
	}

	.text-side {
		padding: 80px 0 80px 80px;
	}

	.wsms-tep .text-side {
		padding-top: 0;
	}

	.wsms-tep .img-cursive {
		width: 50%;
	}
}
